<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Welcome to CUbNEt</h1>

  <h2>
    This is the home page for the CUbNEt app, if you want to see all the Places
    and information that we can offer visit our places page.
    There you can find all sort of Houses, Schools and Companies with detail
    descriptions, and you can also add a place of your like.
  </h2>

  <%= link_to "See places now!", places_path, class: "btn btn-lg btn-primary" %>
</div>
