@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Link to facebook and instagram */

h5 {
  text-align: right;
  color: #777;
}

.delete {
  text-align: left;
}

/* Places index */

.places {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .place {
    margin-top: 5em;
    padding-top: 0;
  }

  .description {
    display: block;
    margin-left: 60px;
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

}

aside{
  padding-top: 80px;

  .add_json {
    text-align: center;
    padding-top: 20px;
  }
}

/* Place form to add JSON */

select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
  resize: vertical;
  border: 1px solid #bbb;
  width: 100%;
  height: 550px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
