<% provide(:title, 'Places') %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>Add Place</h1>
    </section>
    <section>
      <h4>
        If you want to add a place to this site, you have to provide all the
        information in JSON format.
      </h4>
      <h4>
        Our site has already <%= pluralize(@places.count, "place") %>
      </h4>
    </section>
    <section class="add_json">
      <%= link_to "Add JSON", addplace_path, class: "btn btn-primary" %>
    </section>
  </aside>
  <div class="col-md-8">
    <h1>All Places (<%= @places.count %>)</h1>
    <%= will_paginate %>
    <ol class="places">
      <% @places.each do |place| %>
        <li id="place-<%= place.id %>">
          <span class="place"><%= link_to place.name, place %></span>
          <span class="description">
            <%= place.description.split('').take(80).join %>...
          </span>
          <span class="timestamp">
            Posted <%= time_ago_in_words(place.created_at) %> ago.
            <%= link_to "delete", place, method: :delete, data: { confirm: "You sure?" } %>
          </span>
        </li>
      <% end %>
    </ol>
    <%=  will_paginate %>
  </div>
</div>
