<% provide(:title, 'Add Place') %>
<h1>Add Place</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@place) do |f| %>
      <%= f.label :JSON %>
      <%= f.text_area :json, placeholder: @placeholder %>

      <%= f.submit "Submit JSON", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
