<% provide(:title, @place.name) %>
<h1><%= @place.name %></h1>
<h5>
  Find us on
  <%= link_to "Facebook", @place.facebook, target: "_blank" %>.
</h5>
<h5>
  Find us on
  <%= link_to "Instagram", @place.instagram, target: "_blank" %>.
</h5>
<p>
  <%= @place.description %>
</p>
<h5>
  If you don't like this place or the description, you can
  <%= link_to "delete it", @place, method: :delete, data: { confirm: "You sure?" } %>
</h5>
