<footer class="footer">
  <small>
    <a href= "<%= root_path %>" >CUbNEt</a>
    by Gelin Eguinosa
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
